{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

{% if user.is_authenticated %}

<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
    <text class="dropdown navbar-brand">
        <a class="dropdown-toggle nav-link text-light" href="#" id="navbardrop"
                data-toggle="dropdown">{{user.username}}</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'show_profile' user.profile.pk %}">Profile</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
        </div>
    </text>
    <ul class="navbar-nav ml-auto card">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">
                Boards
            </a>
            <div class="dropdown-menu">
                {% for board in links %}
                <a class="dropdown-item" href="{{board.get_absolute_url}}">{{board.name}}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto card">
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'posts:post_new' %}">Create Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'posts:post_list' %}">All Posts</a>
        </li>
    </ul>
</nav>

{% else %}

<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
    <text class="dropdown navbar-brand">
        <a class="dropdown-toggle nav-link text-light" href="#" id="navbardrop"
                data-toggle="dropdown">You are not logged in.</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
            <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
        </div>
    </text>
    <ul class="navbar-nav ml-auto card">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">
                Boards
            </a>
            <div class="dropdown-menu">
                {% for board in links %}
                <a class="dropdown-item" href="{{board.get_absolute_url}}">{{board.name}}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
        <ul class="navbar-nav ml-auto card">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'posts:post_list' %}">All Posts</a>
            </li>
        </ul>
</nav>

{% endif %}
<br>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>