{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<h5><a class="ml-4" href="{% url 'post_list' %}"><- Back</a></h5>
<div class="container-fluid bg-dark rounded m-3 p-3">
   <div class="card shadow bg-light p-2">
      <div class="card shadow">
         <h1 class="card-title text-center">{{ post.title }}</h1>
      </div>
         <div class="row">
            <img class="shadow col-3 card-img-top img-thumbnail m-3" src="{{ post.image.url }}" alt="{{ post.title }}">
            <p class="card-text m-3">{{ post.author }}: {{ post.body }}</p>
         </div>
      </div>
   </div>
</div>

{% endblock content %}