{% extends 'base.html' %}

{% block content %}
{% if board.name != None %}
<h1 class="text-center">- {{ board.name }} -</h1>
{% else %}
<h1 class="text-center">- All -</h1>
{% endif %}
<div class="container-fluid">
    <div class="rounded card-columns bg-dark m-3 p-3">
        {% for post in posts %}
        <div class="card shadow bg-light p-2">
            <div class="card shadow">
                <div class="card-title text-center">
                    <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                    <text class="text-dark">by <a class="" href="{% url 'show_profile' pk=post.author.pk %}">{{ post.author }}</a> in {{ post.board }}</text>
                </div>
            </div>
            <div class="float-left">
                <img class="shadow img-thumbnail m-2 post-list-img" src="{{ post.image.url }}"
                alt="{{ post.title }}">
            </div>
            <p class="card-text">{{ post.body|truncatechars:300 }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}